---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #52adc8 !default;

@import "logo-portfolio.css";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
